<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="name" class="form-label">Nome</label>
    <input
      type="text"
      formControlName="name"
      ngModel
      name="nome"
      class="form-control"
      id="name"
      required
    />
    <div
      *ngIf="this.form.get('name')?.invalid && this.form.get('name')?.touched"
      class="alert alert-danger"
      role="alert"
    >
      Devi compilare questo campo!
    </div>
  </div>
  <div class="mb-3">
    <label for="alterego" formControlName="alterego" class="form-label"
      >Alter Ego</label
    >
    <input
      type="text"
      ngModel
      name="alterego"
      class="form-control"
      id="alterego"
      required
    />
  </div>
  <div class="mb-3">
    <label for="power" formControlName="power" class="form-label">Power</label>
    <select
      class="form-select form-control"
      id="power"
      formControlName="power"
      name="power"
    >
      <option *ngFor="let power of powers" [value]="power">{{ power }}</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="enemy" formControlName="enemy" class="form-label">Enemy</label>
    <input
      type="text"
      ngModel
      name="enemy"
      class="form-control"
      id="enemy"
      maxlength="10"
      required
    />
  </div>
  <div class="mb-3">
    <label for="planet" formControlName="planet" class="form-label"
      >Planet</label
    >
    <input
      type="text"
      ngModel
      name="planet"
      class="form-control"
      id="planet"
      minlength="5"
      required
    />
  </div>
  <div class="mb-3">
    <label for="weakness" formControlName="weakness" class="form-label"
      >Weakness</label
    >
    <input
      type="text"
      ngModel
      name="weakness"
      class="form-control"
      id="weakness"
    />
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
